/* typography */
:root{
	color-scheme: light dark;	
}

html {
  font-family: "Malgun Gothic";
}

body {
    width: 100%;
    text-align: center;
    background: white;
    display: table-cell;
}

.wrapper {
  position: relative;
  display: inline-block; 
  width: auto;
}

// 모바일
@media ( max-width: 767px ){
    .wrapper {
	width: 100%;
    }
}
// 태블릿 세로
@media ( max-width: 768px ) and ( max-width : 991px ){
	
}
// 태블릿 가로
@media ( max-width: 992px ) and ( max-width : 1199px ){
	
}
// 데스크탑
@media ( max-width: 1200px ){
    .wrapper {
	width: auto;
    }
}



/* 테이블 */
.basic-table {
  border-collapse: collapse;
  border: 2px solid;
}

.basic-table th, td {
  padding: 10px 5px;
  border: 1px solid;
}

.basic-table th {
  font-size: 14px;
  background-color: teal; color:white;
}
.basic-table td {
  font-size: 13px;
}

/* 버튼 */
.btn-kko {
    position: relative;
    border: none;
    margin-left: 20px;
    min-width: 200px;
    min-height: 50px;
    background: yellow;
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
}


/* 애니메이션 */
.btn-search {
    position: relative;
    border: none;
    margin-left: 20px;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    color: darkslategray;
    border-radius: 1000px;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
}

@media ( prefers-color-scheme: dark ){
	.btn-search {
	    color: white;
	}
}

.btn-search:hover {
    transform: scale(1.2);
}

.btn-search:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
	background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
}

/* INPUT */
.input-search{
  width: 300px;
  padding: 7px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  border-radius: 1000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.input-search:hover, input:focus{
  background:#ffffff;
}

.list-search {
  margin-top: 20px; 
}

.front-selectbox{
  text-align:center;
  margin: 10px;
}

.barcodeImg {
  margin:50px auto; 
}
    #githubLink {
      position: absolute;
      right: 0;
      top: 12px;
      color: #2D99FF;
    }

    h1 {
      margin: 10px 0;
      font-size: 40px;
    }

    #loadingMessage {
      text-align: center;
      padding: 40px;
      background-color: #eee;
    }

    #canvas {
      width: 100%;
    }

    #output {
      margin-top: 20px;
      background: #eee;
      padding: 10px;
      padding-bottom: 0;
    }

    #output div {
      padding-bottom: 10px;
      word-wrap: break-word;
    }

    #noQRFound {
      text-align: center;
    }
