/* typography */
:root{ color-scheme: light dark; }

html { font-family: "Malgun Gothic"; font-size: 10px; }

body { width: 100%; text-align: center; background: white; }

.wrapper { display: inline-block; width: auto; }
.wrapper h { font-size:2.5rem; color:black; }
.wrapper h2 { font-size:1.6rem; color:black; }
.wrapper h3 { font-size:1.4rem; color:black; }

.content {
  width: auto;	
  height: 500px;
  margin: 10px;
}

/* 테이블 */
.basic-table {
  border-collapse: collapse;
  border: 2px solid;
}

.basic-table th, td {
  padding: 10px 5px;
  border: 1px solid;
}

.basic-table th {
  font-size: 1.4rem;
  background-color: teal; color:white;
}
.basic-table td {
  font-size: 1.3rem;
}

/* 버튼 */
.btn-kko {
    position: relative;
    border: none;
    margin-left: 20px;
    min-width: 200px;
    min-height: 50px;
    background: yellow;
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
}


/* 애니메이션 */
.btn-search {
    position: relative;
    border: none;
    margin-bottom: 10px;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    color: darkslategray;
    border-radius: 1000px;
    cursor: pointer;
    font-weight: 700;
}

@media ( prefers-color-scheme: dark ){
	.btn-search {
	    color: white;
	}
}

/* INPUT */
.input-search{
  width: 80%;
  margin-bottom: 3%;
  font-size: 1.5rem;
  text-align: left;
  border-radius: 1000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.list-search {
  margin-top: 20px; 
}

.front-selectbox{
  text-align:center;
  font-size: 1.5rem;
  margin: 10px;
}

.barcodeImg {
  margin:50px auto; 
}
#githubLink {
position: absolute;
right: 0;
top: 12px;
color: #2D99FF;
}

h1 {
margin: 10px 0;
font-size: 40px;
}

#loadingMessage {
text-align: center;
padding: 40px;
background-color: #eee;
}

#canvas {
width: 100%;
}

#output {
margin-top: 20px;
background: #eee;
padding: 10px;
padding-bottom: 0;
}

#output div { padding-bottom: 10px; word-wrap: break-word; }

#noQRFound { text-align: center; }

.survey_result_img{ width:70%; height:70%; margin-bottom:5%; }

/* top menu */
.top-menu {background:#000099;}
.top-menu .btn-move { border: none; margin-top: 10px; margin-bottom: 10px; width: 40%; height: 40%; background: gray; color: white; cursor: pointer; font-weight: 700; }
.top-menu .active{ background: red; }

