/* typography */

html {
  font-family: "Malgun Gothic";
}

body {
    text-align: center;
    padding: 100px;
    background: whitesmoke;
    display: table-cell;
}

.wrapper {
  position: relative;
  display: inline-block; 
  width: auto;
}

/* 테이블 */
.basic-table {
  border-collapse: collapse;
  border: 2px solid;
}

.basic-table th, td {
  padding: 10px 5px;
  border: 1px solid;
}

.basic-table th {
  font-size: 14px;
  background-color: teal; color:white;
}
.basic-table td {
  font-size: 13px;
}

/* 버튼 */


/* 애니메이션 */
.btn-search {
    position: relative;
    border: none;
    margin-left: 20px;
    min-width: 200px;
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border-radius: 1000px;
    color: darkslategray;
    cursor: pointer;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    font-weight: 700;
    transition: 0.3s;
}

.btn-search:hover {
    transform: scale(1.2);
}

.btn-search:hover::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
	background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
}

/* INPUT */
.input-search{
  width: 300px;
  padding: 7px;
  font-size: 14px;
  text-align: left;
  border-radius: 1000px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.input-search:hover, input:focus{
  background:#ffffff;
}

.list-search {
  margin-top: 20px; 
}

@media ( max-width: 800px ){
	.wrapper {
		width: auto;
	}
}
